.bg12-mohali-phase-1 {
    background-image:url(../images/projects/mohali-phase-1/vertual-tour/vertual-tour-popup.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    margin-top: 30px;
}
